*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.todolist{
    margin: 20px auto;
    max-width: 70%;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: #e7fbff;
}

header{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.userinput{
    text-align: center;
}

.userinput input{
    height: 50px;
    width: 60%;
    padding: 0 20px;
}

.newtodo{
    height: 50px;
    border: none;
    border-radius: 10px;
}

.add{
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: none;
    opacity: 0.4;
    pointer-events: none;
}

.add.active {
    opacity: 1;
    pointer-events: auto;
}

.todo-list{
    margin: 20px 85px;
}

.todo-list .todo{
    list-style: none;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #b9b9b9;
}

.todo-list .todo:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

#taskstatus.checked{
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list .todo label input{
    margin-top: 12px;
    margin-right: 12px; 
}

.todo-list .todo label p{
    margin-top: 6px;
    margin-right: 10px; 
}

.todo-list .settings button{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}

.clearall{
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 10px;
    border: none;
}

.userinputdetails{
    display: flex;
    margin-left: 20%;
    width: 60.6%;
    padding: 8px 0;
}

.userinputdetails input{
    border: none;
    border-radius: 10px;
}

.userinputdetails .duedate{
    margin-right: 5px;
}

.userinputdetails .subject{
    margin-right: 5px;
}

.filter{
    text-align: center;
    margin-top: 20px;
}

.filter button{
    border: none;
    background-color: transparent;
    margin-right: 50px;
}

.filter .active{
    color: #369fa7;
}

.search_box{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    height: 50px;
    width: 60%;
}

.search_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    background: #ffffff;
    padding: 0 60px 0 20px;
}